[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "==3.7"
openai = "==1.14.2"
langchain = "==0.1.13"
langchain-openai = "==0.1.0"
pydantic = "==1.10.13"

[dev-packages]

[requires]
python_version = "3.11"
